<a href="https://colab.research.google.com/github/sysphcd/PythonProgrammingforData/blob/main/Data_Exploration_project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exploring data sets
---

This [link](https://docs.google.com/document/d/1cijDOCDixsYu-Rr9pC8STPPXado3xoFpgBAZgdDTLHs/edit?usp=sharing) will take you to a list of some of the datasets we use during the Programming for Data course.

For this exercise, please choose a dataset to work with.

Use the code cell below to play with the data.  Look at what data is included, where there is any null data, if there are any columns that need renaming, removing, new values calculated from them.

Form some ideas of what you might want to know from the data and use the techniques you have learned so far to show the answers to these.  You might do this by getting summary statistics, by sorting and showing parts of the dataset, by calculating new values, etc.

### What to do
---

Decide what you want to know, explain this in the TEXT cell below, then write some code to get the answer.  When you have done this, add a new text cell below the code cell, explain what you have found.  Then do the same again, adding text cell, code cell, text cell, for something else you would like to know.

The following data file contains data collected London housing yearly variables. You can see the data in a csv file here: https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv

**The data contains:**

- a heading line which needs to be skipped
- life_satisfaction column some has no data
- some number_of_jobs,area_size,no_of_houses column has no data
- recycling_pct some of them shows 'na'
- mean_salary some shows '-' and '#'
- population_size, number_of_jobs has nan value
- first letter in area need to change to capital. 
- dates need to be converted to dates
- some duplicates


**Project** 

- clean, sort and wrangle the data
- remove duplicated data
- Read the dataset into a dataframe, skipping the first row
- Convert dates to date format
- population_size, number_of_jobs no data conver to 0
- Convert population_size, number_of_jobs to integer
- replace mean_salary '-' and '#' to 0 and Convert mean_salary values to float type
- Create a new column for 'date' (use df['date'].dt.year)
- Rename the no_of_houses column to number_of_jobs
- Remove the column if whole column has no data
- Remove rows with nodata in some columns
- reorder columns 
- Sort by 

**All fields :**
code,area,date,median_salary,life_satisfaction,mean_salary,recycling_pct,population_size,number_of_jobs,area_size,no_of_houses,borough_flag

**Example:**

E09000002,barking and dagenham,2001-12-01,22323,,26050,3,165654,54000.0,3780,68298,1
E09000020,kensington and chelsea,2018-12-01,32976,7.23,42099,27,156197,164000.0,1238,87611,1

In [75]:
#from google.colab import files
import pandas as pd
import numpy as np
from datetime import datetime

def get_data(url):
  df = pd.read_csv(url) #,skiprows = 1)
  #print(df.columns)
  return df 

def process_data(df): 
  #remove duplicated data
  df.drop_duplicates()
  #Convert dates to date format
  df['date'] = pd.to_datetime(df['date'])
  #Capitalise the area values
  df['area']=df.area.str.replace('city of ','')
  df['area'] = df['area'].str.title() #.capitalize()
  #replace nodata to 0 in population_size, number_of_jobs and Convert population_size, number_of_jobs to integer
  df['population_size'] = df['population_size'].fillna(0)
  df['number_of_jobs'] =  df['number_of_jobs'].fillna(0)
  df['population_size'] =  df['population_size'].astype(int)
  df['number_of_jobs'] =  df['number_of_jobs'].astype(int)
  #drop row of population_size if any values is 0
  indexPopulation = df[df['population_size'] == 0].index  
  df.drop(indexPopulation , inplace=True) 
  #remove mean_salary some shows '-' and '#' and Convert mean_salary values to float type
  df.loc[df['mean_salary'] == '-', 'mean_salary'] = 0
  df.loc[df['mean_salary'] == '#', 'mean_salary'] = 0
  df['mean_salary'] = df['mean_salary'].astype(float)
  df['mean_salary'] = df['mean_salary'].fillna(0)
  df['area_size'] = df['area_size'].fillna(0)
  #df.drop(['no_of_houses'],axis=1,inplace=True)
  df['no_of_houses'] = df['no_of_houses'].fillna(0)
  df['no_of_houses'] = df['no_of_houses'].astype(int)
  df['recycling_pct'] = df['recycling_pct'].fillna(0)
  df['life_satisfaction'] = df['life_satisfaction'].fillna(0)
  df['years'] = df['date'].dt.year
  df['sum_salary'] = df['mean_salary']*df['population_size']
  df['code_name'] = df['code'].str[0:1] 
  df.loc[(df.code_name == 'E'),'code_name']='England'
  df.loc[(df.code_name == 'W'),'code_name']='Wales'
  df.loc[(df.code_name == 'N'),'code_name']='Northern Ireland'
  df.loc[(df.code_name == 'S'),'code_name']='Scotland'
  df.loc[(df.code_name == 'K'),'code_name']=df['area']
  #drop areas not England or drop code begin not with 'E'
  indexcodes = df[(df['code'].str[0:1] != 'E')].index
  df.drop(indexcodes , inplace=True) 
  #df.iloc[[0, -1]]
  #reorder columns 
  #df[["Code", "area", "date","median_salary","mean_salary","population_size","area_size","number_of_jobs","no_of_houses","recycling_pct","life_satisfaction","borough_flag"]]
  #Rename the columns
  df = df.rename(columns={'no_of_houses':'number_of_houses'})
  #sort by code and area
  df.sort_values(by = ["code", "area"])
  #df.describe()
  df.info()
  print(df)
  return df

#program starts here  
url = "https://raw.githubusercontent.com/futureCodersSE/working-with-data/main/Data%20sets/housing_in_london_yearly_variables.csv"
londonhousing_df = get_data(url)
cleaned_data = process_data(londonhousing_df)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 898 entries, 0 to 1013
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   code               898 non-null    object
 1   area               898 non-null    object
 2   date               898 non-null    datetime64[ns]
 3   median_salary      879 non-null    float64
 4   life_satisfaction  898 non-null    float64
 5   mean_salary        898 non-null    float64
 6   recycling_pct      898 non-null    object
 7   population_size    898 non-null    int64
 8   number_of_jobs     898 non-null    int64
 9   area_size          898 non-null    float64
 10  number_of_houses   898 non-null    int64
 11  borough_flag       898 non-null    int64
 12  years              898 non-null    int64
 13  sum_salary         898 non-null    float64
 14  code_name          898 non-null    object
dtypes: datetime64[ns](1), float64(5), int64(5), object(4)
memory usage: 112.2+ KB
           code                  area       date  ...  years    sum_salary  code_name
0     E09000001                London 1999-12-01  ...   1999  3.219557e+08    England
1     E09000002  Barking And Dagenham 1999-12-01  ...   1999  3.836927e+09    England
2     E09000003                Barnet 1999-12-01  ...   1999  7.249911e+09    England
3     E09000004                Bexley 1999-12-01  ...   1999  4.650557e+09    England
4     E09000005                 Brent 1999-12-01  ...   1999  5.443489e+09    England
...         ...                   ...        ...  ...    ...           ...        ...
1009  E12000008            South East 2018-12-01  ...   2018  3.381268e+11    England
1010  E12000009            South West 2018-12-01  ...   2018  1.839401e+11    England
1011  E13000001          Inner London 2018-12-01  ...   2018  2.144533e+11    England
1012  E13000002          Outer London 2018-12-01  ...   2018  1.973097e+11    England
1013  E92000001               England 2018-12-01  ...   2018  2.088676e+12    England

[898 rows x 15 columns]

**Create a pivot table**

- use each area as columns and each year as index to display population_size

In [76]:
def create_pivot_table(df):
  df_pivot = pd.pivot_table(df, values='population_size', index=['years'], columns=['area'], aggfunc=np.sum)
  #df = df_pivot.reindex(df_pivot['population_size'].sort_values(by=2012, ascending=False).index)
  display(df_pivot)

create_pivot_table(cleaned_data)

area   Barking And Dagenham    Barnet  ...  Westminster  Yorkshire And The Humber
years                                  ...
1999               162444.0  313469.0  ...     189233.0                 4956325.0
2000               163893.0  315784.0  ...     196478.0                 4958609.0
2001               165654.0  319481.0  ...     203329.0                 4976643.0
2002               166357.0  320552.0  ...     208100.0                 5000111.0
2003               166210.0  321802.0  ...     211009.0                 5026314.0
2004               165610.0  323723.0  ...     214557.0                 5063199.0
2005               166275.0  327541.0  ...     223132.0                 5108408.0
2006               167157.0  330801.0  ...     222829.0                 5134016.0
2007               169031.0  334837.0  ...     220619.0                 5164138.0
2008               172452.0  339212.0  ...     218673.0                 5198675.0
2009               177580.0  345829.0  ...     216980.0                 5223344.0
2010               182838.0  351438.0  ...     217187.0                 5254788.0
2011               187029.0  357538.0  ...     219582.0                 5288212.0
2012               190560.0  363956.0  ...     223858.0                 5316691.0
2013               194352.0  369088.0  ...     226841.0                 5337711.0
2014               198294.0  374915.0  ...     233292.0                 5360027.0
2015               201979.0  379691.0  ...     242299.0                 5390576.0
2016               206460.0  386083.0  ...     247614.0                 5425741.0
2017               210711.0  387803.0  ...     244796.0                       NaN
2018               211998.0  392140.0  ...     255324.0                       NaN

[20 rows x 44 columns]

# New Section

**Helpful references**

Skipping rows when reading datasets:
https://www.geeksforgeeks.org/how-to-skip-rows-while-reading-csv-file-using-pandas/

Converting strings to dates:
https://www.geeksforgeeks.org/convert-the-column-type-from-string-to-datetime-format-in-pandas-dataframe/

Dropping rows where data has a given value:
https://www.datasciencemadesimple.com/drop-delete-rows-conditions-python-pandas/
(see section Drop a row or observation by condition)

Convert a column of strings to a column of floats: https://datatofish.com/convert-string-to-float-dataframe/

Create a new column from data converted in an existing column:
https://www.geeksforgeeks.org/create-a-new-column-in-pandas-dataframe-based-on-the-existing-columns/

Rename a column:
https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.rename.html

Remove a column by name:
https://www.kite.com/python/answers/how-to-delete-columns-from-a-pandas-%60dataframe%60-by-column-name-in-python#:~:text=Use%20the%20del%20keyword%20to,the%20name%20column_name%20from%20DataFrame%20.