<a href="https://colab.research.google.com/github/sysphcd/PythonProgrammingforData/blob/main/Sea_Level_Project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Using numpy to look for a correlation between time data and sea level rise
---

### Data Source
Global Average Absolute Sea Level Change, 1880-2014 from the US Environmental Protection Agency using data from CSIRO, 2015; NOAA, 2015.
https://datahub.io/core/sea-level-rise

The data describes annual sea levels from 1880 to 2013.  Measures are adjusted using two standards: Commonwealth Scientific and Industrial Research Organisation(CSIRO) and National Oceanic and Atmospheric Administration (NOAA)  

Raw Data file:  https://raw.githubusercontent.com/freeCodeCamp/boilerplate-sea-level-predictor/master/epa-sea-level.csv

For this exercise:
*  import the pandas library
*  import the numpy library
*  read the csv dataset containing data on sea-levels from the year 1880 to 2013 into a dataframe (df)
*  use df.head() and df.info() to inspect the data and the column data types

In [8]:
import pandas as pd
import numpy as np
#from scipy.stats import linregress

def get_dataset(df):
  sealevel_df = df[(df['Year']>=1880) & (df['Year'] <=2013)]
  display(sealevel_df.head())
  df.info()
  #display(sealevel)
  return sealevel_df

url = 'https://raw.githubusercontent.com/freeCodeCamp/boilerplate-sea-level-predictor/master/epa-sea-level.csv'
sea_level_df = pd.read_csv(url)
get_dataset(sea_level_df)

   Year  CSIRO Adjusted Sea Level  ...  Upper Error Bound  NOAA Adjusted Sea Level
0  1880                  0.000000  ...           0.952756                      NaN
1  1881                  0.220472  ...           1.173228                      NaN
2  1882                 -0.440945  ...           0.464567                      NaN
3  1883                 -0.232283  ...           0.665354                      NaN
4  1884                  0.590551  ...           1.464567                      NaN

[5 rows x 5 columns]

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134 entries, 0 to 133
Data columns (total 5 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Year                      134 non-null    int64
 1   CSIRO Adjusted Sea Level  134 non-null    float64
 2   Lower Error Bound         134 non-null    float64
 3   Upper Error Bound         134 non-null    float64
 4   NOAA Adjusted Sea Level   21 non-null     float64
dtypes: float64(4), int64(1)
memory usage: 5.4 KB

     Year  CSIRO Adjusted Sea Level  ...  Upper Error Bound  NOAA Adjusted Sea Level
0    1880                  0.000000  ...           0.952756                      NaN
1    1881                  0.220472  ...           1.173228                      NaN
2    1882                 -0.440945  ...           0.464567                      NaN
3    1883                 -0.232283  ...           0.665354                      NaN
4    1884                  0.590551  ...           1.464567                      NaN
..    ...                       ...  ...                ...                      ...
129  2009                  8.586614  ...           8.862205                 8.046354
130  2010                  8.901575  ...           9.185039                 8.122973
131  2011                  8.964567  ...           9.267717                 8.053065
132  2012                  9.326772  ...           9.661417                 8.457058
133  2013                  8.980315  ...           9.338583                 8.546648

[134 rows x 5 columns]

### Then
---
1.  Calculate some statistics on the level array, eg:
*  mean
*  standard deviation
*  total 

2.  Use the fact that the arrays are aligned (e.g. the first number in the level array is linked to the first year in the year array and display:

*  the year with the biggest rise in level
*  the year with the lowest rise in level

*(**Hint**:  to do this you can use a new numpy function np.where() )*
 ```
np.where(array == value_to_find)
```
*There is some reference material [here](https://thispointer.com/find-the-index-of-a-value-in-numpy-array/)*

**Note**: ```np.where(...)``` will return a tuple containing all indexes where that value was found.  You can print all, or you can print the first value (it is likely that there will only be one in this case) using [0][0].  *With the correct code you should get an answer of 2012*


3.  Calculate the Pearson product-moment correlation coefficient between year and the rise in sea level.  (*Expected output:  0.98 when rounded to 2 decimal places*)

In [38]:
def cal_statistics(df,col):
  #Calculate some statistics on the level array, eg:
  nparray_col = np.array(df[col])
  # mean
  mean_col = np.mean(nparray_col)
  print('mean:',mean_col)
  # standard deviation
  stddev_col = np.std(nparray_col)
  print('std dev:',stddev_col)
  # total
  sum_col = np.sum(nparray_col)
  print('total :',sum_col)

  # the year with the biggest rise in level
  # the year with the lowest rise in level
  max_col = np.max(nparray_col)
  min_col = np.min(nparray_col)
  nparray_year = np.array(df['Year'])
  year_max = np.where(nparray_year == max_col) #df[df[col] == max_col]
  year_min = np.where(nparray_year == min_col) #df[df[col] == min_col]
  
  maxyear = np.where(nparray_col==max_col)
  #print(maxyear)
  #print(nparray_year[maxyear])
  minyear = np.where(nparray_col==min_col)
  #print(minyear)
  #print(nparray_year[minyear])
  print('the year with the biggest rise in level : ',nparray_year[maxyear][0])#['Year'])
  print('the year with the lowest rise in level : ',nparray_year[minyear][0])#['Year'])

def cal_coef(df,col1,col2):
  #Calculate the Pearson product-moment correlation coefficient between year and the rise in sea level.
  # (Expected output: 0.98 when rounded to 2 decimal places)
  nparray_col1 = np.array(df[col1])
  nparray_col2 = np.array(df[col2])
  coef = np.corrcoef(nparray_col1,nparray_col2).round(decimals=2)
  print(f'correlation coefficient for {col1} and {col2} :\n',coef)
  #return coef
  
cal_statistics(sea_level_df,'CSIRO Adjusted Sea Level')
cal_coef(sea_level_df, 'Year','CSIRO Adjusted Sea Level')
#print(coef)

mean: 3.650340811880598
std dev: 2.476399631426498
total : 489.1456687920001
the year with the biggest rise in level :  2012
the year with the lowest rise in level :  1882
correlation coefficient for Year and CSIRO Adjusted Sea Level :
 [[1.   0.98]
 [0.98 1.  ]]

# Reflection
----

## What skills have you demonstrated in completing this notebook?

Your answer: use numpy functions to process data statistics. eg. mean, std, max, min and corrcoef functions
also, array, where functions.

## What caused you the most difficulty?

Your answer: to understand what data to process and what functions to process the data statistic.